table.noBorder {
	border-collapse: collapse;
}

table.noBorder th {
	border: none;
	background: #eee;
	padding: 5px;
	font-size: 13px;
	font-weight: bold;
}

table.noBorder td {
	border: none;
	padding: 3px;
}

#right-bold {
	text-align: right;
	font-weight: bold;
}

#right-bold-large {
	width: 160px;
	text-align: right;
	font-weight: bold;
}

table.border {
	border-collapse: collapse;
}

table.border th {
	border: 1px solid #aaa;
	background: #eee;
	padding: 5px;
	font-size: 13px;
	font-weight: bold;
}

table.border td {
	border: 1px solid #aaa;
	padding: 3px;
}

table.border td.noBorder {
	border: none;
}

table.border td img {
	cursor: pointer;
}