* {
	margin: 0px;
	padding: 0px;
	outline: none;
}

body {
	font: 14px Arial, Helvetica, Geneva, sans-serif;
	font-weight: normal;
	color: black;
	background: white;
}

.top {
	float: left;
	position: relative;
	width: 100%;
	height: auto;
	text-align: left;
	border-bottom: 5px solid #888;
	padding-top: 10px;
	padding-bottom: 5px;
}

.top .container {
	max-width: 1000px;
	margin: auto;
	position: relative;
}

.top .container .leftDiv {
	float: left;
	position: relative;
	text-align: left;
	font-size: 24px;
	font-weight: bold;
	color: #1f9dd1;
	margin-left: 10px;
	margin-right: 15px;
}

.top .container .rightDiv {
	float: right;
	position: relative;
	text-align: right;
	margin-left: 15px;
	margin-right: 10px;
}

.top .container .rightDiv a:link,
.top .container .rightDiv a:visited,
.top .container .rightDiv a:active {
	color:#000000;
	font-size: 17px;
	line-height: 30px;
	display:inline-block;
	position:relative;
	text-decoration:none;
}

.top .container .rightDiv a:hover {
	color:#e25d29;
}

.content {
	float: left;
	position: relative;
	width: 100%;
	height: auto;
	text-align: left;
	margin-top: 20px;
}

.content .container {
	max-width: 1000px;
	margin: auto;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
}

.content .container .block {
	max-width: 1000px;
	float: left;
	position: relative;
	text-align: left;
	font-size: 15px;
}

.btn {
	display: inline-block;
	background-color: #1f9dd1;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #aaa;
	font-size: 12px;
	color: white;
	border: none;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 6px;
	padding-right: 10px;
	text-shadow: none;
	cursor: pointer;
}

.btn:hover {
	background: #5f9ad9;
	color: #ffffff;
}

.content .container .block div .myTabContent {
	float: left;
	position: relative;
	width: 96%;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 10px;
	margin-bottom: 5px;
}

.myTabContent .block {
	width: 300px;
	float: none;
	position: relative;
	display: table-cell;
}

.myTabContent .block .text {
	width: 120px;
	float: left;
	position: relative;
	font-size: 14px;
	font-weight: bold;
	text-align: right;
	margin: 3px;
}

.myTabContent .block .textbox {
	width: 144px;
	height: 14px;
	float: left;
	position: relative;
	padding-left: 2px;
	padding-right: 2px;
	margin: 3px;
}

.myTabContent .block .textbox input[type="text"] {
	border: 1px solid #aaa;
	outline: none;
}

.myTabContent .block .textbox input[type="text"]:focus {
	background: #eee;
}

table {
	border-collapse: collapse;
}

th {
	border: 1px solid #aaa;
	background: #eee;
	padding: 5px;
	font-size: 13px;
	font-weight: bold;
}

td {
	border: 1px solid #aaa;
	padding: 3px;
}

td img {
	cursor: pointer;
}

td.noBorder {
	border: none;
}

td input[type="text"] {
	width: 150px;
	height: 20px;
	padding-left: 2px;
	padding-right: 2px;
	border: none;
}

td input[type="text"]:focus {
	border: 1px solid #ddd;
	outline: none;
}