body {
	margin: 0px;
	padding; 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: noraml;
	font-size: 13px;
	background: white;
	text-align: center;
}

.header {
	width: 100%;
	position: relative;
	background: #00a2e8;
	-webkit-box-shadow: 0px 4px 6px #aaa;
	-moz-box-shadow: 0px 4px 6px #aaa;
	box-shadow: 0px 4px 6px #aaa;
}

.header .container {
	width: 1000px;
	padding-top: 15px;
	height: 60px;
	position: relative;
	margin: 0 auto;
	text-align: center;
	color: white;
}

.content {
	width: 100%;
	position: relative;
	background: white;
}

.content .container {
	width: 1000px;
	position: relative;
	margin: 20px auto;
}

.content .container .leftDiv {
	float: left;
	width: 650px;
	padding-top: 55px;
	position: relative;
	text-align: left;
}

.content .container .leftDiv .block {
	width: 100%;
	float: left;
	position: relative;
}

.content .container .leftDiv .space {
	width: 100%;
	height: 20px;
	float: left;
	position: relative;
}

.content .container .leftDiv .block .image {
	float: left;
	position: relative;
}

.content .container .leftDiv .block .image img {
	width: 60px;
}

.content .container .leftDiv .block .text {
	float: left;
	position: relative;
	margin-left: 20px;
}

.content .container .leftDiv .block .text .title {
	font-size: 22px;
	line-height: 30px;
	color: #888;
}

.content .container .leftDiv .block .text .subtitle {
	font-size: 19px;
	color: #111;
}

.content .container .rightDiv {
	float: right;
	width: 300px;
	position: relative;
}

.content .container .rightDiv .loginPanel {
	float: left;
	position: relative;
	width: 270px;
	margin: 15px;
	color: black;
	font-size:16px;
	font-weight: normal;
	text-align: left;
	background: #ececec;
	border: 1px solid #d2d2d2;
}

.loginPanel form {
	margin: 20px;
}

.loginPanel form .loginTitle,
.loginPanel form .loginId,
.loginPanel form .loginPwd,
.loginPanel form .loginMsg,
.loginPanel form .loginSubmit {
	width: 100%;
	float: left;
	position: relative;
	padding-bottom: 15px;
}

.loginPanel form .loginMsg {
	text-align: center;
	font-size: 15px;
}
.loginPanel form .loginSubmit {
	text-align: right;
}

.loginPanel form .loginTitle {
	font-size: 16px;
	height: 16px;
	text-align: right;
}

.loginPanel form .loginId div,
.loginPanel form .loginPwd div {
	width: 100%;
	float: left;
	position: relative;
}

.loginPanel form .loginId strong {
	width: 100%;
	font-size: 13px;
	display: block;
	margin: 0 0 6px;
}

.loginPanel form .loginId input {
	width: 100%;
	height: 24px;
	font-size: 16px;
	line-height: 24px;
	border: 1px solid #999;
	outline: medium none;
	box-shadow: 0px 1px 2px #aaa inset;
	margin: 0px;
	padding-left: 2px;
}

.loginPanel form .loginId input:focus {
	border: 1px solid #8769ed;
}

.loginPanel form .loginPwd strong {
	width: 100%;
	font-size: 13px;
	display: block;
	margin: 0 0 6px;
}

.loginPanel form .loginPwd input {
	width: 100%;
	height: 24px;
	font-size: 16px;
	line-height: 24px;
	border: 1px solid #999;
	outline: medium none;
	box-shadow: 0px 1px 2px #aaa inset;
	margin: 0px;
	padding-left: 2px;
}

.loginPanel form .loginId select {
	width: 100%;
	height: 24px;
	font-size: 16px;
	line-height: 24px;
	border: 1px solid #999;
	outline: medium none;
	box-shadow: 0px 1px 2px #aaa inset;
}

.loginPanel form .loginPwd input:focus {
	border: 1px solid #8769ed;
}