<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd">

	<beans:import resource="spring-service.xml" />

	<http auto-config="true" disable-url-rewriting="true">
		<intercept-url pattern="/user/*" access="ROLE_USER" />
		<intercept-url pattern="/admin/*" access="ROLE_ADMIN" />
		<intercept-url pattern="/manager/*" access="ROLE_MANAGER" />

		<form-login login-page="/login" default-target-url="/home"
			always-use-default-target="true" login-processing-url="/validate"
			authentication-failure-url="/login?error=true" username-parameter="username"
			password-parameter="password" />

		<session-management session-fixation-protection="none">
		    <concurrency-control max-sessions="1"/>
		</session-management>
		<logout logout-success-url="/login" logout-url="/logout"
			delete-cookies="jsessionid" />

		<anonymous username="guest" granted-authority="ROLE_GUEST" />
	</http>

	<authentication-manager>
		<authentication-provider user-service-ref="userDetailsService" />
	</authentication-manager>


	<beans:bean id="userDetailsService"
		class="org.springframework.security.provisioning.JdbcUserDetailsManager">

		<beans:property name="dataSource" ref="dataSource" />
		<beans:property name="usersByUsernameQuery"
			value="select username, password, 'true' as enabled from employees where username=?" />

		<beans:property name="authoritiesByUsernameQuery"
			value="select username , authority as authorities from employees where username = ?" />
	</beans:bean>

</beans:beans>