.content {
	width: 100%;
	position: relative;
	background: white;
}

.content .container {
	width: 1000px;
	position: relative;
	margin: 0px auto;
	font-size: 20px;
	padding-top: 30px;
}

.content .container a,
.content .container a:active {
	color: black;
	text-decoration: none;
}

.content .container a:hover {
	color: navy;
	text-decoration: underline;
}